# Secrets
.env
backend/.env

# Development
.vscode/
.idea/
.DS_Store

# Environments and Caches
__pycache__/
*.py[cod]
*$py.class
.venv
env/
venv/
ENV/
node_modules/

# Production
dist/
dist-ssr/
*.local

#Docs
docs/